.slick-prev:before
{
    content: '＜' !important;

}
[dir='rtl'] .slick-prev:before
{
    content: '＞' !important;
}

.slick-next:before
{
    content: '＞' !important;
}
[dir='rtl'] .slick-next:before
{
    content: '＜' !important;
}